.parallax1 {
  top: 20px;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  height: 1000px;
  background: url(../../assets/images/parallax1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.parallax21 {
  top: -40px;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  height: 200px;
  background: url(../../assets/images/parallax21.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.parallax22 {
  top: 750px;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  height: 200px;
  background: url(../../assets/images/parallax22.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.parallax31 {
  top: 2350px;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  height: 200px;
  background: url(../../assets/images/parallax31.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.parallax32 {
  top: 3080px;
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  height: 200px;
  background: url(../../assets/images/parallax32.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.parallax4 {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 100%;
  height: 200px;
  background: url(../../assets/images/parallax4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 3350px;
  background-position: top bottom;
}

@media (max-width: 1250px) {
  .parallax1 {
    height: 850px;
    background-position: 70% bottom;
  }
  .parallax21 {
    height: 150px;
  }
  .parallax22 {
    height: 150px;
    top: 620px;
  }
  .parallax31 {
    height: 150px;
    top: 1950px;
  }
  .parallax32 {
    top: 2700px;
    height: 150px;
  }
  .parallax4 {
    top: 2890px;
    height: 150px;
  }
}

@media (max-width: 1030px) {
  .parallax31 {
    height: 150px;
    top: 2025px;
  }
  .parallax32 {
    top: 2770px;
    height: 150px;
  }
  .parallax4 {
    top: 2960px;
    height: 150px;
  }
}

@media (max-width: 1000px) {
  .parallax31 {
    height: 150px;
    top: 2060px;
  }
  .parallax22 {
    visibility: hidden;
  }
  .parallax32 {
    visibility: hidden;
  }
  .parallax4 {
    top: 3000px;
    height: 150px;
  }
}

@media (max-width: 800px) {
  .parallax1 {
    height: 670px;
    background-position: 70% bottom;
  }
  .parallax21 {
    height: 100px;
    top: -20px;
  }
  .parallax31 {
    visibility: hidden;
  }
  .parallax4 {
    top: 2820px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .parallax1 {
    top: 320px;
    height: 670px;
    background-position: 100% bottom;
  }
  .parallax21 {
    background: url(../svg/parallax21.svg);
    top: 0px;
  }
  .parallax31 {
    visibility: visible;
  }
  .parallax4 {
    top: 3260px;
    height: 150px;
  }
}